---
---

<footer class="flex h-[56px] border-t border-gray-200">
    <div class="w-full max-w-7xl mx-auto px-4 flex flex-row justify-between items-center">
        <p>&copy; 2025 merorin</p>
        <div class="flex flex-row gap-2 items-center">
            <a href="https://merorin.fun"><i class="ri-global-line"></i></a>
            <a href="https://github.com/merorin-2929"><i class="ri-github-line"></i></a>
        </div>
    </div>
</footer>