---
---

<section class="min-h-screen flex flex-col items-center justify-center">
    <div class="w-full max-w-7xl mx-auto px-4 flex flex-col items-start justify-center">
        <h1 class="text-5xl font-black">Merorin Blog</h1>
        <p class="text-lg text-gray-600 mt-6">メモだよ!!備考録だよ!!!!</p>
    </div>
</section>