---
import { getCollection } from "astro:content";
import PostCard from "./PostCard.astro";
const allPost = await getCollection("blog");
const posts = allPost.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
).slice(0,6);
---

<section class="my-16 flex flex-col justify-center">
    <div
        class="w-full max-w-7xl mx-auto px-4 flex flex-col items-start justify-center"
    >
        <h2 class="text-2xl font-bold">Recent Posts</h2>
        <p class="text-sm">// 最近の投稿</p>
        <div class="w-full h-[1px] bg-gray-200 my-8"></div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full">
            {
                posts.map((post) => (
                    <PostCard post={post} />
                ))
            }
        </div>
    </div>
</section>
